<div class="header">

        <div class="container">
          <div class="row">
            <div class="col-3">
              <font class="title">Services</font>
            </div>
            <div class="col-sm mt-3" style="font-size: 1.3rem;">
              <span style="font-weight: bold;font-size: 1.5rem;"><</span> Devil can help visualize even the craziest ideas converting them into web & mobile app, awesome experiences and catchy brands. <span style="font-weight: bold;font-size: 1.5rem;">/></span>
            </div>
          </div>
        </div>
      
        <div class="w-100 mt-5"></div>

        <div class="container">
            <div class="row">
                <div class="col-sm mt-3 ser">
                    <font class="titles"><a href="#">Web</a></font>
                    <p class="mt-3">Web app</p>
                    <p>Fronted</p>
                    <p>Backend</p>
                    <p>Full stack</p>
                </div>
                <div class="col-sm mt-3 ser">
                    <font  class="titles"><a href="#">Mobile apps</a></font>
                    <p class="mt-3">Fronted</p>
                    <p>Android Development</p>
                    <p>IOS Development</p>
                    <p>Ionic</p>
                    <p>Flutter</p>
                </div>
                <div class="col-sm mt-3 ser">
                    <font class="titles"><a href="#">Contributor</a></font>
                    <p class="mt-3">Open source</p>
                </div>
                <div class="col-sm mt-3 ser">
                    <font class="titles"><a href="#">OOP, Procedural & Functional</a></font>
                    <p class="mt-3">Python</p>
                    <p>Java Script</p>
                    <p>c++</p>
                    <p>Algo</p>
                    <p>Data structure</p>
                </div>
            </div>
        </div>
        
      </div>