<nav class="navbar navbar-light">
  <a class="navbar-brand" style="letter-spacing: 2px;">Black Devil's</a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" routerLink="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="devils">Devil's_Group</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="project">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about">About</a>
    </li>
  <button type="button" class="btn btn-outline-dark" style="border-radius: 20px;font-weight: bold">Get Started</button>

  </ul>
</nav>