
<app-nav></app-nav>
<div class="header">
    <ul class="nav justify-content-center" >
        <li class="nav-item">
        <a class="nav-link active" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="devils">Devil's_Group</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="project">Projects</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
        </li>

    </ul>
<div class="container-fluid pr-2 pl-2 contain">
    <font class="ad" style="color:#4c32ff;word-spacing: 10px;">Disgner Developer Contributer</font>
    <h2 class="mt-1" style="font-weight: bold">< Black Devil's /></h2>
    <div class="w-100"></div>
    <p class="pclass" style="margin-top: 2%; letter-spacing: 3px;">who are we ?</p>
    <hr class="line" align="left">
    <div class="w-100 mt-3"></div>
    <p class="about"> When you join a GDG, you’ll have the opportunity to meet local developers with similar 
        interests in technology, attend talks on a wide range of technical topics, and learn new 
        skills through hands-on workshops. GDG prides itself on being an inclusive environment. 
        Everyone and anyone interested in tech - from beginner developers to experienced 
        professionals - are welcome to join.
    </p>

    <font class="quto" style="text-align: center;font-weight: bold">- "Drink coffee and change the world"</font>

</div>
</div>

<div class="parallax"></div>

<app-project></app-project>
