<div class="header">
    
<app-nav></app-nav>
<div class="container-fluid pr-5 pl-5" style="padding-top: 15%; ">
    <font style="color:#4c32ff;word-spacing: 10px;">Disgner Developer Contributer</font>
    <h1 class="mt-1" style="font-weight: bold">Black Devil's</h1>
    <div class="w-100"></div>
    <p style="margin-top: 2%; letter-spacing: 5px;">who are we ?</p>

    <div class="w-100 mt-3"></div>
    <p style="width: 70%;"> When you join a GDG, you’ll have the opportunity to meet local developers with similar 
        interests in technology, attend talks on a wide range of technical topics, and learn new 
        skills through hands-on workshops. GDG prides itself on being an inclusive environment. 
        Everyone and anyone interested in tech - from beginner developers to experienced 
        professionals - are welcome to join.
    </p>

    <font style="text-align: center">- "Drink coffee and change the world"</font>

</div>
</div>

<div class="parallax"></div>

<app-devils></app-devils>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm">
        <div class="container">
        <div class="row">
            <div class="col-4">
                Drink Coffee and change the world
            </div>
            <div class="col-sm" style="text-align: left">
                <p> When you join a GDG, you’ll have the opportunity to meet local developers with similar 
                    interests in technology, attend talks on a wide range of technical topics, and learn new 
                    skills through hands-on workshops. GDG prides itself on being an inclusive environment. 
                    Everyone and anyone interested in tech - from beginner developers to experienced 
                    professionals - are welcome to join.</p>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div> -->