
<app-nav></app-nav>
<div class="header">
    <ul class="nav justify-content-center" >
        <li class="nav-item">
        <a class="nav-link active" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="devils">Devil's_Group</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="project">Projects</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
        </li>

    </ul>
<div class="container-fluid pr-2 pl-2 contain">
    <font class="ad" style="color:#4c32ff;word-spacing: 10px;">Disgner Developer Contributer</font>
    <h2 class="mt-1" style="font-weight: bold">< Black Devil /></h2>
    <div class="w-100"></div>
    <p class="pclass" style="margin-top: 2%; letter-spacing: 3px;">who are we ?</p>
    <hr class="line" align="left">
    <div class="w-100 mt-3"></div>
    <p class="about"> 
            A group of developers which has a name "Black devils" works on several different jobs or projects. 
            Some of the most common  projects we can do are within creative industries such as web design, web development, 
            responsive web application, native mobile application etc. Black devils often must handle contracts and other business 
            functions by themselves. Moreover, we are open source contributer and freelancers. We are always available because we 
            have always been enthusiastic about technology. Our aim is to provide the best and satisfied service to clients, get in touch.
    </p>

    <font class="quto" style="text-align: center;font-weight: bold">- "Drink coffee and change the world"</font>

</div>
</div>

<div class="parallax"></div>

<app-about></app-about>

<app-project></app-project>

<app-footers></app-footers>